    /* Custom styles for form */
    .form-section {
        margin-bottom: 30px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-control,
    .form-check-input,
    .form-check-label {
        font-size: 1.1em;
    }

    .form-check-label {
        margin-left: 20px; /* Increase this value to add more indent */
    }

    .form-check-input {
        margin-right: 40px; /* Optional: Adjust the space between the radio button and label */
    }

    .btn-primary {
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .bullet-list {
        list-style-type: none;
        padding-left: 0;
    }

    .bullet-list li {
        margin-bottom: 10px;
    }

    .bullet-list .form-check {
        display: flex;
        align-items: center;
    }

    .bullet-list .form-check-input {
        margin-right: 10px;
    }

    .bullet-list .form-check-label {
        margin: 0;
    }
